.card {
  width: 90%;
  box-shadow: 2px 8px 21px -2px #777777;
  border-radius: 10px;
  background-color: #fff;
}

.cardName {
  padding: 0;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}

.cardInfo {
  text-align: center;
}

.cardText {
  font-weight: 600;
}
.cardText span {
  font-weight: 100;
}
